* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html
{
   font-size: 16px;

    body {
        font-family: 'Cairo', sans-serif;
        background-color: var($body-bg);
        color: var($text-color);
        padding-top: var($nav-height);

        a {
            text-decoration: none;
            color: unset;
        }
        img {
            width: 100%;
        }
    }
         
}

