.pricing {

    .pricing-header {
        margin-bottom: 30px;
        text-align: center;
        font-size: 2rem;
        font-weight: 700;
        text-transform: uppercase;
    }
    
    .pricing-box {
        padding: 50px;
        margin: 15px 0;
        background-color: var($box-bg);
        border-top: 5px solid transparent;
        transition: transform 0.3s ease-in-out;

        .pricing-box:hover {
            transform: translateY(-20px);
        }

    }
    
    .pricing-box.hightlight {
        border-top: 5px solid var($main-color);
    }
    
    .pricing-box-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1.5rem;
    }
    
    .pricing-price {
        font-weight: 700;

            span {
            font-size: 1rem;
            }
    }
    
    .pricing-box-content {
        text-align: center;
        margin-top: 60px;
        font-size: 1.25rem;
    }
    
    .pricing-box-action {
        text-align: center;
        margin-top: 60px;
    }    
}