@import 'base';
@import 'nav';
@import 'hero';
@import 'movie';
@import 'footer';
@import 'section';
@import 'pricing';
@import 'social';
@import 'responsive';

$main-color: #c0392b;
$body-bg: #181616;
$box-bg: #221f1f;
$text-color: #ffffff;
$space-top: 30px;
$nav-height: 60px;

